DEEPGRAM_API_KEY=<REPLACE_IT_WITH_YOUR_DEEPGRAM_API_KEY>
OPENAI_API_KEY=<REPLACE_IT_WITH_YOUR_OPENAI_API_KEY>
CARTESIA_API_KEY=<REPLACE_IT_WITH_YOUR_CARTESIA_API_KEY>
LIVEKIT_API_KEY=<REPLACE_IT_WITH_YOUR_LIVEKIT_API_KEY>
LIVEKIT_API_SECRET=<REPLACE_IT_WITH_YOUR_LIVEKIT_SECRET>
LIVEKIT_URL=<REPLACE_IT_WITH_YOUR_LIVE_KIT_WSS_URL>
NEXT_PUBLIC_LIVEKIT_URL=<REPLACE_IT_WITH_YOUR_NEXT_PUBLIC_LIVEKIT_URL>
